html {
  font-size: 10px; /* px means 'pixels': the base font size is now 10 pixels high  */
  font-family: 'Open Sans', sans-serif;
  background-color: #fbfbf6;
}
a{
  text-decoration: none;
  color:black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1 {
  font-size: 60px;
  text-align: center;
  margin: 0;
  padding: 20px 0;
  color: #00539F;
  text-shadow: 3px 3px 1px black;
}

p, li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}
 
 

body {
  width: 600px;
  height:800px;
  margin: 0 auto;
  background-color: #FF9500;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
  
}
 
img {
  display: block;
  margin: 0 auto;
}

.category{
  height:50px;
  margin-bottom:20px;
  
  border:3px solid rgb(80, 9, 121);
  border-left-width:-10;
}
.submenu li
{
  box-sizing: border-box;
  float:left;
margin-right :20px;
list-style-type:none;
display:block;
}
.Introduction{
  
height:400px;
font-family: Arial, sans-serif;
font-size:medium;
margin-top: 80px;
 
border:3px solid rgb(80, 9, 121);
 
 
}